.text-center {
  text-align: center; /* Alinha o texto dos filhos do elemento*/
  color: black; /* Define a cor dos filhos do elemento*/
}

.text-left{
  text-align: left;
  height: 30%;
  width: 30%;
  color: black;
}

.text-produtos{
  text-align: center;
  height: 100%;
  width: 100%;
  color: black;
}
